.clipman-menuitembuttonbox {
    spacing: 10px;
}

.clipman-menuitembutton {
    padding: 2px;
}

.clipman-searchentry {
    border-radius: 18px;
    padding: 7px 12px;
}

.clipman-searchmenuitem {
    padding: 9px 12px;
}

.clipman-placeholdermenuitembox {
    spacing: 4px;
}
